<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #bbf4fb;
        border: 1px solid #dddddd;
    }
</style>
<span> Date : {{data.todayDate}}</span>
<table id="datatable" width="100%">
    <thead>
    <tr>
        <th>StaffId</th>
        <th>Name</th>
        <th>Sign In</th>
        <th>Status</th>
    </tr>
    </thead>

    <tbody>
    {{#each data}}
        <tr>
            <td>{{staff_id}}</td>
            <td>{{first_name}} {{surname}}</td>
            <td>{{signin_time}}</td>
            <td></td>
        </tr>
    {{/each}}

    </tbody>
</table>
        

<script src="/js/jquery-1.12.3.min.js" ></script>
<script>
    $(function() {
        $('#datatable').DataTable( {
            "order": [[ 2, "desc" ]],
            paging: false
        });
    });
</script>
