<style>
    html{zoom: 0.7;}
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #bbf4fb;
        border: 1px solid #dddddd;
    }
</style>
<!--<span><b>Date :</b>{{data.todayDate}}</span>-->
<table id="datatable" width="100%">
        <thead>
        <!--<tr>-->
            <!--<th>Id</th>-->
            <!--<th>Name</th>-->
            <!--<th>Company</th>-->
            <!--<th>Signed In</th>-->
            <!--<th>Status</th>-->
        <!--</tr>-->
        </thead>

        <tbody style="margin-top: 15px;">
        {{#each data}}
            <tr>
                <td style="width: 58px;">{{id}}</td>
                <td style="width: 188px;">{{contactname}}</td>
                <td style="width: 200px;">{{employeename}}</td>
                <td style="width: 95px;">{{settime}}</td>
                <td style="width: 100px;"></td>
            </tr>
        {{/each}}

        </tbody>
    </table>


<script src="/js/jquery-1.12.3.min.js" ></script>
<script>
    $(function() {
        $('#datatable').DataTable( {
            "order": [[ 2, "desc" ]],
            paging: false
        });

    });
</script>
